[data-theme='dark'] .widget-cards .card-content {
  background-image: linear-gradient(to bottom, rgba(85, 117, 175, 0.3), rgba(43, 64, 119, 0.3));
}

h2.widget-header {
  margin-top: 2em;
  margin-bottom: 0px;
}

.widget-cards .col {
  flex: 0 0 33.33%;
  padding: 30px 15px 0;
}

.widget-cards .card-content {
  border-radius: 12px;
  box-shadow: inset 0 0 0 1px rgb(131 143 162 / 30%);
  background-image: none;
  padding: 20px;
  margin: 0;
  font-size: 13px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.widget-cards .card-header {
  display: flex;
}

.widget-cards .card-content label {
  color: var(--ifm-heading-color);
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.card-content .card_links {
  font-weight: 500;
  text-align: right;
  flex: 1;
}

.widget-cards .card-body {
  height: 100%;
  margin: 10px 0;
  color: var(--ifm-font-color-base)
}

@media (max-width: 1000px) {
  .card-group .col {
    flex: 0 0 50%;
  }
}

@media (max-width: 700px) {
  .card-group .col {
    flex: 0 0 100%;
  }
}